body{background-image:url("wrigley.jpg");}

.main{margin-left:22%;
background-color:rgba(0,0,0,0.7);
height:800px;
width:1200px;}

.BigText{margin-left:22%;
font-size:xx-large;
font-family:Impact;
color:rgb(24, 24, 87);
-webkit-text-stroke:1px;
-webkit-text-stroke-color:aliceblue;}

p{margin-left:27%;
font-family:Haettenschweiler;
font-size:xx-large;
color:white;
-webkit-text-stroke:1px;
-webkit-text-stroke-color:black;}

.pricebutton{margin-left:40%;
background-color:rgb(24, 24, 87);
color:white;
font-size:xx-large;}

.selectbox{clear:both;
    margin-left:26%;
    background-color:rgb(24, 24, 87);
    color:white;
    font-size:xx-large;
    width:500px;}